.thumbnail {
    width: 110px;
    height: 110px;
    float:left;
    margin-right: 50px;
}

.project-con {
    margin: 110px 0px 180px 220px;
}

.portfolio-image {
    margin-right: 20px;
    border:5px solid #000;
}

a {
    color:rgb(255, 205, 221);
    padding:40px;
}

form {
    display: block;
}

input {
margin:10px;
}